.comment {
  display: flex;
  flex-direction: column;
  padding: 10px;

  text-align: start;

  background-color: var(--color-gray);
  border-radius: 10px;

  gap: 12px;
}

.comment h3 {
  margin: 0;

  font-size: 18px;
}

.comment p {
  margin: 0;

  font-size: 16px;
}

.comment span {
  font-size: 14px;
  color: var(--color-alt-white);
}

.wrapper {
  display: flex;
  align-items: baseline;

  gap: 10px;
}
