.buttons {
  display: flex;
  align-items: center;

  gap: 10px;
  justify-self: flex-end;
}

.link {
  padding: 10px;

  font-weight: 500;
  color: var(--color-white);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.link:hover {
  color: var(--color-white);

  box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.1);
}

.link:active {
  opacity: 0.8;
}
