.img_wrapper {
  height: 100%;
  overflow: hidden;
}

.img_wrapper:hover img {
  transform: scale(1.1);
}

.img_wrapper_hover img {
  transform: scale(1.1);
}

.img_wrapper img {
  max-height: 300px;
  margin: 0;
  padding: 0;

  transition: transform 0.3s;
}
